.enableImageBtn {
    background-color: gray;
}

.enableImageBtn.active {
    background-color: green;
}

#buttons {
    display: block;
    position: absolute;
    top: 512px;
}

.disabled {
    display: none;
}

.enabled {
    display: block;
}

.apl {
    position: absolute;
    width: 512px;
    image-rendering: crisp-edges;
}

.layer1 {
    z-index: 0;
}

.layer2 {
    z-index: -1;
}

.layer3 {
    z-index: -2;
}

.layer4 {
    z-index: -3;
}

.layer5 {
    z-index: -4;
}

.layer6 {
    z-index: -5;
}

.layer7 {
    z-index: -6;
}

.layer8 {
    z-index: -7;
}

.layer9 {
    z-index: -8;
}

